<div class="container py-5">
    <div class="card" style="width: 15rem;">
        <img src="<%= viewData.avatar %>" class="card-img-top" alt="Avatar" crossorigin="anonymous">
        <div class="card-body">
            <h5 class="card-title">GitLab User Profile</h5>
            <p class="card-text"><b>Name:</b> <%= viewData.name %></p>
            <p class="card-text"><b>Username:</b> <%= viewData.username %></p>
            <p class="card-text"><b>User ID:</b> <%= viewData.id %></p>
            <p class="card-text"><b>Primary email:</b> <%= viewData.email %></p>
            <p class="card-text"><b>Last activity On:</b> <%= viewData.last_activity_on %></p>
        </div>
    </div>
</div>